*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
  --darkMode: #242424;
  --blue: #0071ce;
  /* https://web.dev/i18n/es/prefers-color-scheme/ */
}
